@use "../../../../scss/abstract/" as *;

.calls {
    @include lgBreakPoint {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}

.cardss {
    // background: linear-gradient(180deg, rgba(255, 254, 98, 0.68) 0%, rgba(255, 254, 98, 0.74) 100%);
    background-color: #2f80ed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 25px;
    position: relative;
    padding: 10px;
    text-align: center;
    .mains3 {
        .mains1 {
            font-weight: bold;
            // color: orangered;
        }
        .main1 {
            font-weight: bold;

            color: rgb(0, 7, 61);
        }
    }

    .card-img-top {
        width: 130px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        position: absolute;
        left: 16%;
        top: 15%;
        @include smBreakPoint {
            width: 100px;
            height: 100px;
        }
    }
    .box {
        width: 200px;
        height: 200px;
        background-color: white;
        // background: linear-gradient(180deg, rgba(3, 245, 245, 0.17) 0%, rgba(3, 245, 245, 0.34) 100%);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        // background-color: white;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @include smBreakPoint {
            width: 150px;
            height: 150px;
        }
    }
    .heart {
        font-size: 30px;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
        // border:2px solid red;
        // width:40px;
        // height:40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        @include smBreakPoint {
            right: -10%;
            top: -7%;
        }
    }

    @mixin btn-hover-effect($boxshadow, $width, $bgColor, $textColor) {
        button {
            display: block;
            margin: 25px auto;
            overflow: hidden;
            position: relative;
            width: $width;
            padding: 10px 0;
            border-radius: 30px;
            cursor: pointer;
            font-size: 1.1em;
            font-weight: bold;
            border: none;
            transition: all 0.5s ease-in-out;
            z-index: 1;
            color: black;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            &:before {
                content: "";
                display: inline-block;
                transform: translateY(50%);
                left: 0;
                position: absolute;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-color: $bgColor;
                z-index: -1;
                transition: transform ease 1s;
            }
            &:hover {
                &:before {
                    transform: translateY(-45%);
                }
                color: white;
                transition: color 0.1s ease;
                transition-delay: 0.2s;
            }
        }
    }

    @include btn-hover-effect(red, 180px, red, red);
}
