@use "../../../../scss/abstract/" as *;

.main-ecommerce {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 5%;
    @include xsBreakPoint {
        padding-top: 50%;
        height: auto;
        overflow-y: hidden;
        // background-color: red;
    }
    @include smBreakPoint {
        padding-top: 20%;
        overflow-y: hidden;
        height: auto;
    }
    @include mdBreakPoint {
        padding-top: 20%;
        overflow-y: hidden;
    }
    .persons {
        width: 55%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        @include xsBreakPoint {
            width: 80%;
        }
        @include smBreakPoint {
            width: 80%;
        }
        @include mdBreakPoint {
            width: 80%;
        }
        @include lgBreakPoint {
            width: 100%;
        }
        @include xlBreakPoint {
            width: 100%;
        }
    }
    .et {
        width: 50%;
        margin: 0% auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        @include xsBreakPoint {
            width: 80%;
            // font-size: 1rem !important;
        }
        @include smBreakPoint {
            width: 80%;
            // font-size: 18px;
        }
        @include mdBreakPoint {
            width: 80%;
            // font-size: 18px;
        }
        @include lgBreakPoint {
            font-size: 20px;
            width: 85%;
        }
        @include xlBreakPoint {
            font-size: 20px;
            width: 85%;
        }
        .et1 {
            line-height: 2;
            font-size: 22px;
            @include xsBreakPoint {
                font-size: 17px;
                width: 100%;
            }
            @include smBreakPoint {
                font-size: 17px;
                width: 100%;
            }
            @include mdBreakPoint {
                font-size: 17px;
                width: 100%;
            }
            @include lgBreakPoint {
                font-size: 20px;
                width: 100%;
            }
            @include lgBreakPoint {
                font-size: 20px;
                width: 100%;
            }
        }
    }
    .btns {
        width: 50%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
        .nexts {
            width: 50%;
            margin: 0 auto;
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.3rem;
            background-color: orange;
            color: white;
            cursor: pointer;
            font-weight: 600;
            border: none;
            outline: none;
            @include xsBreakPoint {
                font-size: 18px;
                width: 70%;
            }
            @include lgBreakPoint {
                font-size: 20px;
                width: 100%;
            }
            @include lgBreakPoint {
                font-size: 20px;
                width: 100%;
            }
        }
    }
}
