@use "../../../scss/abstract/" as *;
@import "https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css";

.main-section5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    @include xsBreakPoint {
        height: auto;
        overflow-y: hidden;
        width: 100%;
    }
    @include smBreakPoint {
        height: auto;
        overflow-y: hidden;
        width: 100%;
    }
    @include mdBreakPoint {
        height: auto;
        overflow-y: hidden;
        width: 100%;
    }
    .inside-section5 {
        width: 100%;
        height: 100%;
        .top-section5 {
            width: 50%;
            height: 20%;
            display: flex;
            flex-direction: column;
            padding-top: 1.3%;
            padding-left: 5%;
            @include xsBreakPoint {
                width: 100%;
                height: 100%;
                padding-left: 8% !important;
            }
            @include smBreakPoint {
                width: 100%;
                height: 100%;
                padding-left: 8% !important;
            }
            @include mdBreakPoint {
                width: 100%;
                height: 100%;
                padding-left: 8% !important;
            }

            .recent {
                font-size: 2.5rem;
                font-weight: 700;
                @include xsBreakPoint {
                    font-size: 1.7rem;
                    width: 60%;
                }
            }
            .create {
                font-size: 1.4rem;
                padding-top: 2%;
                @include xsBreakPoint {
                    padding-top: 3%;
                    font-size: 1rem;
                    line-height: 2;
                }
                @include smBreakPoint {
                    padding-top: 3%;
                    font-size: 1rem;
                    line-height: 2;
                }
            }
        }
        .bottom-section5 {
            width: 100%;
            height: 80%;
            position: relative;
            padding-top: 3.89%;
            // border: 2px solid red;
            @include xsBreakPoint {
                height: 100%;
                padding-top: 30%;
            }
            @include smBreakPoint {
                height: 100%;
                padding-top: 5%;
            }
            @include mdBreakPoint {
                height: 100%;
                padding-top: 10%;
            }
            .inside-section5-slide {
                width: 82%;
                // margin: 0 auto;
                // border: 2px solid red;
                padding-left: 3rem;
                @include xsBreakPoint {
                    width: 100%;
                    height: 100%;
                    padding-left: 0 !important;
                    padding-bottom: 25%;
                }
                @include smBreakPoint {
                    width: 100%;
                    height: 100%;
                    padding-left: 0 !important;
                    padding-bottom: 15%;
                }
                @include mdBreakPoint {
                    width: 100%;
                    height: 100%;
                    padding-left: 0 !important;
                    padding-bottom: 25%;
                }
                .reds {
                    gap: 20px;
                    text-align: center;

                    .redss {
                        width: 85%;
                        border: 3px solid orangered;
                        margin: 0 auto;

                        border-radius: 20px;
                        padding: 10px;

                        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                        background-color: white;
                        @include xsBreakPoint {
                            width: 80%;
                        }
                        @include smBreakPoint {
                            width: 65%;
                        }
                        @include lgBreakPoint {
                            width: 80%;
                        }
                        @include mdBreakPoint {
                            width: 90%;
                        }
                        @include xlBreakPoint {
                            width: 80%;
                        }
                        @include xxlBreakPoint {
                            width: 80%;
                        }
                    }
                    .coursename {
                        font-size: 1.4rem;
                        font-weight: 600;
                        padding-top: 2%;
                        padding-bottom: 2%;
                        color: rgb(0, 7, 61);
                        font-weight: bold;
                        @include xsBreakPoint {
                            font-size: 1.2rem;
                            padding-top: 4%;
                            padding-bottom: 3%;
                        }
                    }
                    .description {
                        font-size: 0.89879rem;
                        padding-bottom: 3%;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: rgb(0, 7, 61);
                        @include xsBreakPoint {
                            padding-bottom: 6%;
                        }
                    }
                    .btns {
                        padding-top: 2%;
                        padding-bottom: 2%;
                    }
                    .buttons {
                        width: 40%;
                        padding: 10px;
                        border: none;
                        outline: none;
                        background-color: orangered;
                        color: white;
                        cursor: pointer;
                        border-radius: 10px;
                        font-weight: 600;
                        @include xsBreakPoint {
                            width: 45%;
                            padding: 6px;
                        }
                        @include mdBreakPoint {
                            width: 50%;
                        }
                        @include xlBreakPoint {
                            width: 50%;
                        }
                    }
                    .img-section5 {
                        width: 100%;
                        border-radius: 20px;
                    }
                    .img-section5:hover {
                        opacity: 0.5;
                        cursor: pointer;
                    }
                }
            }
            .slide-pre::before {
                content: none !important;
                width: 50px !important;
                height: 50px !important;
                border-radius: 50% !important;
                // background-color: #2b2f60 !important;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 6 Pro" !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;
                content: "\f061" !important;
                padding: 10px 12px 10px 12px !important;
                border: 4px solid orange !important;
                color: orangered;
                font-weight: 700;

                margin-left: -20px !important;
                z-index: 2 !important;
                // position: relative !important;
                // display: none;
                position: absolute !important;
                top: -280px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include xsBreakPoint {
                    left: -4rem;
                    width: 45px !important;
                    height: 45px !important;
                }
                @include smBreakPoint {
                    left: -3.2rem;
                    width: 45px !important;
                    height: 45px !important;
                }
                @include mdBreakPoint {
                    left: -7rem;
                    width: 45px !important;
                    height: 45px !important;
                }
                @include lgBreakPoint {
                    left: -5rem;
                }
                @include xlBreakPoint {
                    left: -5rem;
                }
                @include xxlBreakPoint {
                    left: -8rem;
                }
            }

            .slide-next::before {
                content: none !important;
                width: 50px !important;
                height: 50px !important;
                border-radius: 50% !important;

                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                font-family: "Font Awesome 6 Pro" !important;
                font-weight: 500 !important;
                font-size: 1.5rem !important;

                content: "\f060" !important;
                padding: 10px 12px 10px 12px !important;
                position: absolute !important;
                top: -278px !important;
                right: -24rem !important;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 4px solid orange !important;
                color: orangered;
                font-weight: 700;

                // display: none;
                @include xsBreakPoint {
                    left: 16rem;
                    top: -5rem;
                    width: 45px !important;
                    height: 45px !important;
                }
                @include smBreakPoint {
                    left: 31.4rem;
                    width: 45px !important;
                    height: 45px !important;
                }
                @include mdBreakPoint {
                    left: 39rem;
                    width: 45px !important;
                    height: 45px !important;
                }
                @include lgBreakPoint {
                    left: 39rem;
                    top: -5rem;
                }
                @include xlBreakPoint {
                    left: 48rem;
                    top: -5rem;
                }
                @include xxlBreakPoint {
                    left: 64rem;
                    top: -5rem;
                }
            }
        }
        .slick-dots li button:before {
            color: orangered;
            font-size: 10px;
            padding-top: 5vh;
            @include xsBreakPoint {
                padding-top: 1.5rem;
                font-size: 0.546rem;
            }
            @include smBreakPoint {
                padding-top: 1.5rem;
                font-size: 0.546rem;
            }
            @include mdBreakPoint {
                padding-top: 1.5rem;
                font-size: 0.546rem;
            }
        }
    }
}
.fa-star {
    color: orange;
}
